/* Global css */
:root {
  --primary-color: #2a2f3a;
  --secondary-color: #0a7cb4;
}

/* Page asset */
html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Header */
header #home {
  text-decoration: none;
}
header h1 i {
  color: var(--primary-color);
}

/* Global Style */
h1 {
  color: var(--secondary-color);
  margin: .5rem;
}
#contenu table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
#contenu th, td {
  padding : 5px;
}
#retour {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  margin: .5em;
}
#retour:hover {
  background: white;
  color: var(--primary-color);
}
.box {
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: Calc(85%);
  margin: .8rem auto;
  padding: .5em;
}
.box h3 {
  margin: 0 0 1rem 1rem;
}

.effectif form {
  display: inline;
  margin: 0;
}
.effectif form input[type="submit"] {
  display: inline-block;
  min-width: 5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  padding: 14px 20px;
  margin: .1rem;
  cursor: pointer;

}
