nav {
  overflow: hidden;
  width: 100vw;
  height: 3rem;
  background-color: var(--primary-color);
  box-shadow: 1px 0 black;
  box-shadow: 0 2px 2px gray;
  height: 100%;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.900);
  color: black;
  font-weight: bold;
}



nav a  {

  color: white;
  font-family: monospace, sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 14px 16px ;

}

nav .navigation_gauche{
  float: left;
}
nav .navigation_droite {
  float: right;
}
